body, html {
    font-family: 'Avenir Next';
    color: #000000;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-size: 13px;
    @media only screen and (min-width: $desktop-breakpoint) {
      font-size: 15px;
    } 
}
.container {
  max-width:1600px;
  margin:0 auto;
  padding:0 15px;
  @media only screen and (min-width: $desktop-breakpoint) {
    padding: 0 20px;
  }
}

.page-header {
  display: none;
}