:root {
    --green: #B2EAA2;
    --blue: #46BCE6;
    --dark-blue: #08032A;
    --pink: #FF0FAD;
} 

$small-radius: 3px;
$subtle-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);

$site-width: 1780px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
